<div class="container">
    <div class="alert alert-success m-5">
        <marquee behavior="" direction=""> <strong>Success!</strong> Indicates a successful or positive action.
        </marquee>

    </div>
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Home</li>
    </ol>
    <h3 class="mt-5">Overview</h3>
    <hr class="mt-5">

    <div class="row mt-5">

        <div class="col">
            <div class="row">
                <div class="col">
                    <a href="">
                        <button type="button" class="btn btn-primary btn-lg w-50">
                            <h1 class="h1">0</h1>
                        </button>
                        <p class="h5">scorte in basso </p>
                    </a>
                    <a href="">
                        <button type="button" class="btn btn-primary btn-lg w-50">
                            <h1 class="h1">0</h1>
                        </button>
                        <p>Totale Prodotti</p>
                    </a>
                </div>
                <div class="col">
                    <a href="">
                        <button type="button" class="btn btn-primary btn-lg w-50">
                            <h1 class="h1">0</h1>
                        </button>
                        <p>Totale Categorie</p>
                    </a>
                    <a href="">
                        <button type="button" class="btn btn-primary btn-lg w-50">
                            <h1 class="h1">0</h1>
                        </button>
                        <p>luoghi</p>
                    </a>

                </div>
            </div>
        </div>


    </div>
</div>