<div class="container">
    <h2>Small Table</h2>
    <p>The .table-sm class makes the table smaller by cutting cell padding in half:</p>
    <table class="table table-bordered table-sm">
        <thead class="thead-dark">
            <tr>
                <th>vide</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
            <tr class="center">
                <td> <i class="fa fa-search fa-2x"></i></td>
                <td> <i class="fa fa-edit fa-2x"></i></td>
                <td> <i class="fa fa-trash fa-2x"></i></td>
            </tr>
            </td>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
            </tr>
            <tr>
                <td>Mary</td>
                <td>Moe</td>
                <td>mary@example.com</td>
            </tr>
            <tr>
                <td>July</td>
                <td>Dooley</td>
                <td>july@example.com</td>
            </tr>
        </tbody>
    </table>
</div>