<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="">Logo</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="">dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="productlist">products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="categorieslist">Categorie</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="speselist">spese</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="locationslist">localisazione</a>
    </li>




  </ul>
</nav>