<div class="container">
    <div class="row">
        <div class="col-8">
            <form class="mt-5">
                <div class="input-group mb-2 ">
                    <div class="input-group-prepend">
                        <span class="input-group-text">LocationId</span>
                    </div>
                    <input type="text" class="form-control">
                </div>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text">LocationName</span>
                    </div>
                    <input type="text" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">save</button>
            </form>
        </div>
    </div>
</div>